body { 
        background-color: darkslategrey;
        font-family: Arial; 
        text-align: center; 
        padding: 20px; 
    }
    h1{
      color: bisque;
    }
    .question-box {
      background-color: bisque;
      margin: 50px auto; 
      padding-top:30px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      max-width: 500px; 
    }
    button { 
      background-color:lightpink;
      margin: 5px; 
      padding: 10px 20px; 
    }
    #feedback { 
        font-weight: bold; 
        margin-top: 15px; 
    }